{% extends 'admin/model/create.html' %}

{% block body %}
    {{ super() }}
    {{ lib.form_js() }}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='loader.css') }}">

    <div id="sms_verify" class="col-md-offset-1  submit-row" >
        <div class="form-group">
            <label for="sms_code" class="control-label col-md-3">Code from SMS
                <strong style="color: red">*</strong>
            </label>
            <div class="col-md-3">
                <input disabled type="text" id="sms_code" name="sms_code" value="" class="col-md-2 form-control"
                       placeholder="">
            </div>
            <button id="request_sms" class="btn btn-primary">Request SMS</button>
            <button id="sms_btn" class="btn btn-success">Verify code</button>
        </div>
        <div id="sms_status" class="col-md-offset-3" style="display: none"></div>
        <div class="loader" id="loader-1" style="display: none"></div>
    </div>


{% endblock %}


{% block tail %}
    {{ super() }}
    {{ lib.form_js() }}
    <script>
        const form = document.querySelector('form.admin-form.form-horizontal');
        const state_field = document.querySelector('select#state').parentElement.parentNode;
        const sms_form = document.querySelector('div#sms_verify');

        form.insertBefore(sms_form, state_field);

        const tg_id = document.querySelector("input#tg_id");
        tg_id.disabled = true;

        $(document).ready(function () {
            $("#sms_btn").click(
                function (event) {
                    event.preventDefault();

                    let phone = document.querySelector("textarea#phone").value;
                    let sms_code = document.querySelector("input#sms_code").value;

                    if (phone !== '') {
                        if (sms_code !== '') {
                            $.ajax({
                                url: '/admin/worker/verify_telegram/',
                                type: 'POST',
                                data: JSON.stringify({
                                    phone: phone,
                                    sms_code: sms_code
                                }),
                                contentType: "application/json",
                                dataType: 'json',
                                success: function (data) {
                                    let color = 'red';
                                    if (data.status === 'success') {
                                        color = 'green';
                                        $("#sms_btn").prop('disabled', true);
                                        tg_id.value = data.tg_id;
                                        tg_id.disabled = false;
                                    }
                                    $('#sms_status').css('color', color).html(data.msg).show();
                                }
                            });
                        }
                        else {
                            alert('Please input code from SMS!')
                        }
                    }
                    else {
                        alert('Please input phone number!')
                    }
                }
            );
        });

        $(document).ready(function () {
            $("#request_sms").click(
                function (event) {
                    event.preventDefault();
                    let phone = document.querySelector("textarea#phone").value;

                    if (phone !== '') {
                        $.ajax({
                            // http://localhost:5000/admin/worker/new/request_tg_code/ 404 (NOT FOUND)
                            url: '/admin/worker/request_tg_code/',
                            type: 'POST',
                            data: JSON.stringify({
                                phone: phone
                            }),
                            contentType: "application/json",
                            dataType: 'json',
                            success: function (data) {
                                let color = 'red';
                                if (data.status === 'success') {
                                    color = 'green';
                                    $("#request_sms").prop('disabled', true);
                                    $('#sms_code').prop('disabled', false)
                                }
                                $('#sms_status').css('color', color).html(data.msg).show();
                            }
                        });

                    }
                    else {
                        alert('Please input phone number!')
                    }
                }
            );
        });

        $(document).ajaxStart(function () {
            $('#sms_status').hide();
            $('#loader-1').show();
        });

        $(document).ajaxStop(function () {
            $("#loader-1").hide();
        });


    </script>
{% endblock %}
